@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-radius: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*↑↑↑↑↑RESET CSS↑↑↑↑↑*/
body {
    padding: 10px 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background-color: #333;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

body a {
    color: #79f;
}

body a:hover {
    color: #acf;
    text-decoration: none;
}

body>* {
    text-align: left;
}

.content {
    color: white;
    position: relative;
    top: 10px;
    min-height: 200px;
    padding: 1px 5% 50px;
}

main {
    margin-left: 3%;
    font-size: 1.2em;
    line-height: 30px;
}

.boxinput{
    font-size: 15px;
    padding:5px;
    margin:5px;
    font-weight:600;
    border:2px solid #fff;
    background:#333;
    color:#fff;
    border-radius:6px;
}

.buttoninput{
    margin:5px;
    padding:5px;
    border-radius:6px;
    background:#777;
    border:2px solid #fff;
    color:#fff;
    font-weight:600;
    height:35px;
}

.buttoninput:hover{
    background:#999;
    border:2px solid #fff;
    color:#fff;
    font-weight:600;
}

.green{
    background:rgb(63, 189, 132);
}

.green:hover{
    background:rgb(46, 134, 94);
}


.test h4{
    border-left: 7px solid #79f;
    padding: 0 5px;
    font-weight: 600;
    margin:15px 0 0;
}

.kijutu{
    color:#7f7;
}

#result{
    font-weight: 600;
    color:rgb(108, 207, 174);
}

.inline-block{
    display:inline-block;
}

header {
    position: relative;
}

header img {
    max-height: 450px;
    width: 100%;
    min-height:140px;
}

.title {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 250%;
    font-weight: 700;
    color: white;
    top: 40%;
    text-shadow: 2px 2px 0 black;
}

header h2 {
    padding: 10px 0 0;
    font-size: 50%;
    font-weight: 500;
}


/* 740pxでgnavを縦並びにする必要あり */

.gnav ul {
    margin: 8px 0 0;
    overflow: hidden;
    text-align: center;
}

.gnav a {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    display: block;
    float: left;
    width: 25%;
    padding: 20px 0;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width:640px){
    .gnav a {
        border-top: solid 2px white;
        border-bottom:none;
        display: block;
        float: left;
        width: 100%;
        padding: 20px 0;
        margin:0px 0;
        color: white;
        font-weight: 600;
        text-decoration: none;
    } 
    .gnav li:last-child a{border-bottom: solid 2px white;}
}

.gnav a:hover {
    transition: 0.2s;
    background-color: white;
    color: #3b3530;
}

.content h1 {
    width: auto;
    padding: 3px;
    font-size: 220%;
    font-weight: 600;
    border-bottom: solid 4px #79f;
    margin: 20px 0 30px;
}

.content h2 {
    font-weight: 600;
    font-size: 150%;
    padding: .25em 0 .25em .75em;
    margin: 30px 0 20px;
    border-left: 10px solid #f80;
}

.content h3 {
    max-width:450px;
    font-weight: 600;
    font-size: 120%;
    padding: .25em 0 .05em .25em;
    margin: 20px 0 15px;
    border-bottom: 4px solid rgb(97, 182, 144);
}

.indent{
    margin:0 0 0 15px;
}

.content small {
    font-size: 80%;
}

.content strong {
    font-weight: 700;
}

footer {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 15px 0 0;
    /*background-color: #444;*/
    border-top: solid 2px white;
    color: white;
    clear: both;
}

footer p,
form {
    padding: 10px 20px;
}

footer i {
    font-size: 30px;
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;
}

footer strong {
    font-weight: 600;
}

#form5 {
    position: relative;
    margin-bottom: 20px;
}

.search_container {
    left: 20px;
    top: 5px;
    position: relative;
    box-sizing: border-box;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.2em;
    width: 250px;
    overflow: hidden;
    background: white;
}

.search_container input[type="text"] {
    border: none;
    height: 2.0em;
    background: white;
    color: #333;
}

.search_container input[type="text"]:focus {
    outline: 0;
}

.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879D9;
    position: absolute;
    height: 2.5em;
    right: 8px;
    top: -10px;
    outline: none;
}

.search_container ::-webkit-input-placeholder {
    color: #fff;
}

footer small {
    display: block;
    padding-top: 30px;
}

table {
    font-weight: 600;
    margin: 20px 0;
    width: 100%;
    border-spacing: 0;
    background-color: #383838;
}

table th {
    text-align: center;
    border-bottom: solid 3px #0f8;
    padding: 10px 0 5px;
    margin: 20px 0 0;
}

table td {
    border-bottom: solid 3px #ddd;
    text-align: center;
    padding: 10px 0 5px;
    margin: 20px 0 0;
}

.wtother {
    height: 100px;
}

.wordtest {
    height: 100px;
    margin: 0 0 80px;
}

.wordtest .wtother {
    width: 250px;
    float: left;
    margin: 0 10px 0;
}

.wordtest textarea {
    font-size: 18px;
    max-width: 500px;
    min-width: 250px;
    width: 250px;
    height: 100px;
    min-height: 100px;
    max-height: 200px;
    line-height: 1.2em;
    padding: 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.wordtest .wtother input {
    padding: 0;
    margin: 0 0 10px;
    font-size: 18px;
    width: 250px;
    max-width: 500px;
    min-width: 250px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.wordtest .btns input {
    width: 40px;
    height: 40px;
}

.wordtest .btns label {
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

.yellow{color:rgb(250, 208, 69)}